
body {
    color: white;
    margin:0;
    }
    
    h1 {
        margin-top:0;
    }
    
    
    .heroImage {
        background-image: url("IMGexotics.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height:700px;
    /*    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.9); */
    }
    
    .container {
        background-color: rgba(0,0,0,.8);
        width:100%;
        height:100%;
        margin-left:auto;
        margin-right:auto;
        padding-top:25px;
    }
    
    
    header {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width:750px;
    
    }
    
    main {
     /*   max-width:750px;*/
    
    }
    
    .header-container {
        display:block;
        min-height: 150px;
        max-width: 750px;
        margin-left:auto;
        margin-right:auto;
    }
    
    .intro {
        min-height:200px;
    }
    
    .introduction-container, .question-form {
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:75%;
    
    }
    
    .introduction-text {
        text-align: center;
    }
    
    .main-container{
        min-height: 300px;
    }
    
    button {
        display: block;
        padding: 19px 39px 18px 39px;
        font-size: 18px;
        margin-left:auto;
        margin-bottom:auto;
        border: 1px solid #16a085;
        border-width: 1px 1px 3px;
        /*margin-bottom: 10px;*/
        background-color:orange;
    }
    
    .answer-check {
        font-size: 20px;
        text-align: center;
        min-height: 100 px;
    }
    .answer-image {
        min-height:150px;
    }
    
    #car-response {
        display:block;
        width:50%;
        min-width:150px;
        margin-left:auto;
        margin-right:auto;
    }
    
    .response {
        width: 75%;
        margin-left:auto;
        margin-right:auto;
        border: 1px solid black;
        background-color:white;
        min-height:350px;
        color:black;
        padding: 20px;
    }
    
    .finish-body {
        width:75%;
        margin-left:auto;
        margin-right:auto;
    }
    
    